#slide {
  width: 100%;
  height: 491px;
  position: relative;
  overflow: hidden;
}
#slide img {
  width: 100%;
  height: 491px;
  opacity: 1;
}
#slide .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  vertical-align: middle;
  text-align: center;
  line-height: 12px;
  color: #fff;
  opacity: 1;
  background: white;
}
#slide .swiper-pagination-bullet-active {
  background-color: transparent;
  border: 3px solid #fff;
}
#slide .small-banner {
  position: absolute;
  top: 0;
  right: 50%;
  margin-right: -593px;
  width: 200px;
  height: 490px;
  z-index: 5;
}
#slide .small-banner img {
  position: relative;
  left: 0;
  vertical-align: top;
  opacity: .9;
  width: 200px;
  height: 243px;
  margin-bottom: 5px;
}

.floornav {
  width: 38px;
  position: fixed;
  background: #FFF;
  left: 50%;
  top: 50%;
  margin-left: -650px;
}
.floornav a {
  width: 36px;
  height: 30px;
  line-height: 30px;
  white-space: nowrap;
  text-align: center;
  display: block;
  margin: 0 auto;
  border-bottom: 1px dotted #c9c9cc;
  color: #6255352;
  cursor: pointer;
}
.floornav a span {
  display: none;
}
.floornav .over {
  background: #e3393c;
}
.floornav .over span {
  display: inline;
  color: #FFF;
}

.content {
  position: relative;
}

.content-re {
  width: 1190px;
  overflow: hidden;
  margin-bottom: 30px;
  padding-top: 10px;
}

.floor-pro1 {
  margin-top: 20px;
  height: 35px;
  border-bottom: 1px solid #c9c9c9;
  margin-bottom: 4px;
}

.more {
  float: right;
  font-size: 16px;
  line-height: 30px;
}

.hot {
  border-top: 2px solid #cc0000;
  border-bottom: 1px solid #fff;
  height: 35px;
  color: #cc0000;
  line-height: 35px;
  background: #fff;
  width: 185px;
  margin-left: 0;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  border-left: 1px solid #ececec;
  border-right: 1px solid #ececec;
}

.floor1-bottom ul {
  width: 1206px;
}
.floor1-bottom ul li {
  float: left;
  width: 230px;
  height: 220px;
  overflow: hidden;
  margin-right: 10px;
  margin-top: 10px;
}
.floor1-bottom ul li img {
  position: relative;
  left: 0;
  width: 100%;
  height: 100%;
}

.floor {
  margin-bottom: 30px;
}

.floor-hd {
  height: 32px;
  border-bottom: 1px solid #c9c9c9;
  background: #fff;
  margin-bottom: 4px;
}
.floor-hd h3 {
  height: 18px;
  width: 20%;
  float: left;
  line-height: 18px;
  color: #3d4048;
  font-size: 16px;
  border-left: 4px solid #f00f34;
  padding-left: 12px;
  font-weight: 600;
}
.floor-hd ul {
  float: right;
  line-height: 32px;
  margin-right: 20px;
}
.floor-hd ul li {
  float: left;
  margin-left: 50px;
  font-size: 16px;
  color: #2c2c2c;
  cursor: pointer;
  height: 32px;
  position: relative;
}
.floor-hd .active s {
  width: 10px;
  height: 6px;
  position: absolute;
  top: 27px;
  right: 42%;
  background: url(http://www.zhongjiu.cn/Areas/Web/Images/himall_web_add.png) no-repeat;
}

.content-left {
  width: 230px;
  height: 450px;
  float: left;
  background: #fbfbfb;
  margin-right: 10px;
  position: relative;
}
.content-left .slide {
  width: 230px;
  height: 450px;
  overflow: hidden;
  position: relative;
}
.content-left .slide img {
  width: 100%;
  height: 100%;
}
.content-left .cata-flo {
  width: 230px;
  height: 124px;
  position: absolute;
  left: 0;
  bottom: 185px;
  overflow: hidden;
}
.content-left .cata-flo table {
  width: 186px;
  height: 98px;
  margin: 26px auto;
}
.content-left .cata-flo table td {
  height: 24px;
  width: 83px;
  text-align: left;
  line-height: 24px;
  float: left;
  overflow: hidden;
}
.content-left .cata-flo table a {
  color: #292929;
  font-size: 12px;
}

.content-brand {
  float: left;
  width: 200px;
  padding-left: 30px;
  height: 171px;
  position: absolute;
  bottom: 0;
  left: 0;
  overflow: hidden;
}
.content-brand .swiper-slide {
  width: 128px;
  height: 112px;
  overflow: hidden;
  margin: 0 auto;
}
.content-brand .swiper-slide a {
  float: left;
  width: 80px;
  height: 45px;
  margin-right: 6px;
  margin-bottom: 6px;
  background: #fff;
}
.content-brand .swiper-slide a img {
  width: 80px;
  height: 45px;
  vertical-align: middle;
  display: inline;
}
.content-brand .swiper-button-next {
  width: 20px;
  height: 40px;
  background: url(../img/nextpre.png) no-repeat;
  background-position: -29px 0;
  position: absolute;
  right: 5px;
  top: 62px;
  cursor: pointer;
}
.content-brand .swiper-button-prev {
  width: 20px;
  height: 40px;
  background: url(../img/nextpre.png) no-repeat;
  background-position: 0 0;
  position: absolute;
  left: 5px;
  top: 62px;
  cursor: pointer;
}

.content-right {
  float: left;
  width: 950px;
  background: #Fff;
}
.content-right li {
  float: left;
  width: 230px;
  height: 220px;
}
.content-right .fore0 {
  width: 470px;
  height: 450px;
  margin-right: 10px;
}
.content-right .fore1 {
  margin: 0 10px 0 0;
}
.content-right .fore3 {
  margin: 10px 10px 0 0;
}
.content-right .fore4 {
  margin-top: 10px;
}

.Content2 {
  width: 1200px;
}
.Content2 li {
  float: left;
  margin-top: 10px;
  margin-right: 10px;
}

.Brand-shop h3 {
  font-size: 18px;
  color: #3d4048;
  height: 18px;
  padding-bottom: 15px;
  line-height: 18px;
}
.Brand-shop .content {
  height: 380px;
  width: 1190px;
}
.Brand-shop .content .left {
  float: left;
  height: 350px;
  width: 280px;
}
.Brand-shop .content .left img {
  height: 350px;
  width: 280px;
}
.Brand-shop .content .mid {
  width: 550px;
  height: 307px;
  border-top: 2px solid #f3f3f3;
  border-bottom: 2px solid #f3f3f3;
  float: left;
  padding: 20px 50px 20px 30px;
  position: relative;
  overflow: hidden;
}
.Brand-shop .content .mid .swiper-button-prev {
  width: 26px;
  height: 30px;
  position: absolute;
  background-image: url(http://www.zhongjiu.cn/Areas/Web/Images/Himall_admin.png);
  background-repeat: no-repeat;
  background-position: -4px 8px;
  cursor: pointer;
  left: -2px;
  top: 152px;
}
.Brand-shop .content .mid .swiper-button-next {
  width: 26px;
  height: 30px;
  position: absolute;
  background-image: url(http://www.zhongjiu.cn/Areas/Web/Images/Himall_admin.png);
  background-repeat: no-repeat;
  background-position: -4px -22px;
  cursor: pointer;
  right: -2px;
  top: 152px;
}
.Brand-shop .content .mid li {
  width: 110px;
  height: 100px;
  float: left;
}
.Brand-shop .content .mid li a {
  width: 109px;
  height: 62px;
  display: inline-block;
  margin-top: 20px;
  background: url(http://www.zhongjiu.cn/Areas/Web/Images/brand_03.png) no-repeat center right;
}
.Brand-shop .content .right {
  width: 280px;
  height: 350px;
  float: left;
}
